.Button {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
  color: var(--foreground-color);
  border: 1px solid transparent;
}

.Button:hover {
  opacity: 0.7;
}

.Button--is-muted {
  opacity: .5;
}

.Button--icon {
  line-height: 0;
}

.Button--text {
  padding: .3rem;
}

.Button--is-active {
  border-bottom-color: var(--foreground-color);
}

.Button[disabled] {
  pointer-events: none;
}
