.Graphics {
  flex: 1;
  display: flex;
}

.Graphics--perspective {
  perspective: var(--perspective);
}

.Graphics__layer-container {
  margin: auto;
  width: 80%;
  height: 80%;
  position: relative;
  transition: all .05s ease;
}

.Graphics__layer-container--transition {
  transition: all .2s ease;
}

.Graphics__layer {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
}

.Graphics__layer svg {
  position: absolute;
}

.Graphics__layer-container--perspective {
  transform-style: preserve-3d;
  transform:
    rotateX(calc(var(--raw-y) * 1deg * -1))
    rotateY(calc(var(--raw-x) * 1deg))
    translateZ(0);
}

.Graphics__layer-container--perspective .Graphics__layer {
  transform: translateZ(var(--translate-z));
}

.Graphics__layer-container--parallax-vertical .Graphics__layer {
  transform: translateY(var(--translate-y));
}

.Graphics__layer-container--parallax-horizontal .Graphics__layer {
  transform: translateX(var(--translate-x));
}

.Graphics__layer-container--parallax .Graphics__layer {
  transform:
    translateX(var(--translate-x))
    translateY(var(--translate-y))
    translateZ(0);
}
