.Devtools {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 33.3%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Devtools__input {
  background: none;
  color: #AAAAAA;
  font-size: inherit;
  border-radius: .25rem;
  font-family: monospace;
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 25px;
}

.Devtools__input:focus {
  outline: none;
}

.Devtools__log {
  font-family: monospace;
  font-size: inherit;
  color: #AAAAAA;
  white-space: pre;
}

.Devtools__log div {
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
