@keyframes wave {
  50% { transform: translateY(.5em) rotate(5deg); }
}

.Boat {
  --animation-duration: 4s;
  animation: wave var(--animation-duration) calc(var(--animation-duration) * 0) ease infinite;
}

.Boat:nth-of-type(5n + 1) { animation-delay: calc(var(--animation-duration) * 0); }
.Boat:nth-of-type(5n + 2) { animation-delay: calc(var(--animation-duration) * .5); }
.Boat:nth-of-type(5n + 3) { animation-delay: calc(var(--animation-duration) * 1); }
.Boat:nth-of-type(5n + 4) { animation-delay: calc(var(--animation-duration) * 1.5); }
.Boat:nth-of-type(5n + 5) { animation-delay: calc(var(--animation-duration) * 2); }
