.PageMagic8Ball__answer {
  opacity: 0;
  transform: rotate(-20deg) scale(0.9);
  transition: all .7s linear;
  transition-timing-function: ease-out, cubic-bezier(.82, .1, .14, 1.12);
  pointer-events: none;
  user-select: none;
}

.PageMagic8Ball__answer-text {
  z-index: 1;
  position: relative;
  margin: auto;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bold;
  text-shadow: -1px -1px 1px #000,
    1px 1px 1px rgba(255,255,255,.1);
  opacity: .5;
}

.PageMagic8Ball__answer--ready {
  opacity: 1;
  transform: rotate(0) scale(1);
}
