.PageMagic8Ball__answer {
  opacity: 0;
  transform: rotate(-25deg) scale(.9) translateZ(0);
  transition: all 1s ease;
  will-change: transform, opacity;
}

.PageMagic8Ball__answer::before {
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  background: midnightblue;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.PageMagic8Ball__answer-text {
  z-index: 1;
  position: relative;
  margin: auto;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bold;
  text-shadow: 0 0 3px rgba(0,0,0,.5);
}

.PageMagic8Ball__answer--ready {
  transform: rotate(0) scale(1) translateZ(0);
  opacity: 1;
}
